<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add expense</title>
</head>
<body>
    <form action="/add-expense" method="POST">
        <label for="item">What did you spend your money on:</label>
        <input type="text" id="item" minlength="1" name="item"><br>

        <label for="amount">How much did you spend:</label>
        <input type="number" id="amount" minlength="1" name="amount" placeholder="in VND"><br>

        <input type="submit">
    </form>
</body>
</html>